<h1>This is {{tshirt.slug}}</h1>

    <div class="contain-shirt mt-20 ml-20 overflow">
        <img src="{{tshirt.image1}}" alt="" class="img-shirt">
        <a href="/tshirts/{{tshirt.slug}}" class="inline">{{tshirt.name}}</a>
        <p>{{tshirt.cost}},000đ</p>
    </div>

